# USP - Introdu√ß√£o √† Ci√™ncia de Dados
**University of S√£o Paulo - School of Pharmaceutical Sciences of Ribeir√£o Preto (FCFRP)**

## Sum√°rio

* [1. Estruturas de Dados](#1-estruturas-de-dados)
* [2. Estruturas de Decis√£o](#2-estruturas-de-decis√£o)
* [3. Estruturas de Repeti√ß√£o](#3-estruturas-de-repeti√ß√£o)
* [4. Fun√ß√µes](#4-fun√ß√µes)
* [5. NumPy](#5-numpy)
* [6. Pandas](#6-pandas)
* [7. Regress√£o](#7-regress√£o)
* [8. Classifica√ß√£o](#8-classifica√ß√£o)
* [9. Agrupamento](#9-agrupamento)
* [10. Refer√™ncias](#10-refer√™ncias)

## 0. Setup de Ambiente

### 0.1. Instala√ß√£o de libs

In [4]:
%%writefile requirements.txt
matplotlib==3.7.1
numpy==1.25.2
pandas==2.0.3
scikit-learn==1.2.2
seaborn==0.13.1

Writing requirements.txt

In [ ]:
! pip install -r requirements.txt

### 0.2. Importa√ß√£o de libs

In [1]:
from pathlib import Path
from urllib.request import urlretrieve

import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from numpy import ndarray
from pandas import DataFrame
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.linear_model import LinearRegression, LogisticRegressionCV
from sklearn.metrics import (
    ConfusionMatrixDisplay,
    accuracy_score,
    confusion_matrix,
    r2_score,
)
from sklearn.model_selection import StratifiedKFold, cross_val_predict, train_test_split
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

### 0.3. Defini√ß√£o de constantes

In [2]:
# @markdown **URL dos Datasets usados**

__REGRESSAO_DATASET_URL: str = 'https://archive.ics.uci.edu/static/public/555/apartment+for+rent+classified.zip' # @param {type: "string"}
__CLASSIFICATION_DATASET_URL: str = 'https://archive.ics.uci.edu/static/public/519/heart+failure+clinical+records.zip' # @param {type: "string"}
__CLUSTERING_DATASET_URL: str = 'https://archive.ics.uci.edu/static/public/862/turkish+music+emotion.zip' # @param {type: "string"}

# @markdown ---

# @markdown **Local de armazenamento dos Datasets**
__DATA_BASE_PATH_VALUE: str = './data/' # @param {type: "string"}
__DATA_BASE_PATH: Path = Path(__DATA_BASE_PATH_VALUE)

__REGRESSION_DATA_PATH_VALUE: str = 'regression' # @param {type: "string"}
REGRESSION_DATA_PATH: Path = __DATA_BASE_PATH / __REGRESSION_DATA_PATH_VALUE

__CLASSIFICATION_DATA_PATH_VALUE: str = 'classification' # @param {type: "string"}
CLASSIFICATION_DATA_PATH: Path = __DATA_BASE_PATH / __CLASSIFICATION_DATA_PATH_VALUE

__DECOMPOSITION_DATA_PATH_VALUE: str = 'decomposition' # @param {type: "string"}
DECOMPOSITION_DATA_PATH: Path = __DATA_BASE_PATH / __DECOMPOSITION_DATA_PATH_VALUE

# @markdown ---

# @markdown **Prefer√™ncias para treinamento dos modelos**

SEED: int = 42 # @param {type: "number"}
VERBOSE: bool = 42 # @param {type: "boolean"}
TEST_RATIO: int = 0.15 # @param {type: "slider", min: 0.1, max: 0.9, step: 0.05}
K_FOLDS: int = 10 # @param {type: "slider", min: 3, max: 10, step: 1}

In [3]:
np.random.seed(SEED)

## 1. Estruturas de Dados

### 1.1. Lista de temperaturas

Crie uma lista de temperaturas de [dez pa√≠ses](https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_extremos_meteorol%C3%B3gicos). Escreva em cada c√©lula de um notebook o acesso a elementos da lista para calcular a temperatura em graus Fahrenheit:

$$
C=5 \cdot \frac{F - 32}{9}
$$

In [4]:
WIKIPEDIA_COUNTRIES: str = 'https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_extremos_meteorol%C3%B3gicos'

df_temperature: DataFrame = pd.read_html(WIKIPEDIA_COUNTRIES)[0]

display(df_temperature.head())
df_temperature.info()

,Pa√≠s/Regi√£o,Temperatura mais baixa,Local,Data,Temperatura mais alta,Local.1,Data.1
0,√Åfrica do Sul,-20.1 ¬∫C,"Buffelsfontein, perto de Molteno, Cabo Oriental",23 de agosto de 2013[1],50.0 ¬∫C,"Dunbrody, Cabo Oriental",3 de novembro de 1918[2]
1,Arg√©lia,-13.8 ¬∫C,M√©cheria,28 de janeiro de 2005[3],51.3 ¬∫C,"El Bayadh, El Bayadh",2 de setembro de 1979[3]
2,Botswana,NaN,NaN,NaN,44.0 ¬∫C,Maun,7 de janeiro de 2016[4]
3,Burquina Fasso,5 ¬∫C,Markoye,janeiro de 1975[5],47.2 ¬∫C,Dori,1984[5]
4,Chade,NaN,NaN,NaN,47.6 ¬∫C,Faya-Largeau,22 de junho de 2010[6]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Pa√≠s/Regi√£o             116 non-null    object
 1   Temperatura mais baixa  95 non-null     object
 2   Local                   94 non-null     object
 3   Data                    93 non-null     object
 4   Temperatura mais alta   110 non-null    object
 5   Local.1                 110 non-null    object
 6   Data.1                  109 non-null    object
dtypes: object(7)
memory usage: 6.5+ KB

In [5]:
df_temperature = df_temperature.dropna().reset_index(drop=True)

df_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Pa√≠s/Regi√£o             87 non-null     object
 1   Temperatura mais baixa  87 non-null     object
 2   Local                   87 non-null     object
 3   Data                    87 non-null     object
 4   Temperatura mais alta   87 non-null     object
 5   Local.1                 87 non-null     object
 6   Data.1                  87 non-null     object
dtypes: object(7)
memory usage: 4.9+ KB

In [6]:
COUNTRY_COLUMNS: dict[str, str] = {
    'Pa√≠s/Regi√£o': 'country',
    'Temperatura mais baixa': 'lowest_temp',
    'Temperatura mais alta': 'highest_temp'
}

df_ten_temperatures = df_temperature.sample(10)[COUNTRY_COLUMNS.keys()].rename(columns=COUNTRY_COLUMNS)

df_ten_temperatures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 76 to 68
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       10 non-null     object
 1   lowest_temp   10 non-null     object
 2   highest_temp  10 non-null     object
dtypes: object(3)
memory usage: 320.0+ bytes

In [7]:
def celsius_to_fahrenheit(celsius: float) -> float:
    return celsius * (9 / 5) + 32


def fahrenheit_to_celsius(fahrenheit: float) -> float:
    return fahrenheit - 32 * (5 / 9)

In [8]:
EXTRACT_TEMP: str = r'(-?\d{1,2}\.?\d?)'

df_ten_temperatures['highest_temp'] = df_ten_temperatures['highest_temp'].str.extract(EXTRACT_TEMP).astype(float)
df_ten_temperatures['lowest_temp'] = df_ten_temperatures['lowest_temp'].str.extract(EXTRACT_TEMP).astype(float)

df_ten_temperatures

          country  lowest_temp  highest_temp
76         Panam√°          2.0          40.0
0   √Åfrica do Sul        -20.1          50.0
26  Coreia do Sul        -32.8          40.0
22        Myanmar         -6.0          47.2
12      Hong Kong         -6.0          37.9
67          Su√≠√ßa        -41.8          41.5
10        Camboja         10.0          42.6
18    Quirguist√£o        -53.6          44.0
4       Essuat√≠ni         -6.7          47.7
68        Ucr√¢nia        -41.9          42.0

In [9]:
df_ten_temperatures['lowest_temp_fahrenheit'] = df_ten_temperatures['lowest_temp'].apply(celsius_to_fahrenheit)
df_ten_temperatures['highest_temp_fahrenheit'] = df_ten_temperatures['highest_temp'].apply(celsius_to_fahrenheit)

df_ten_temperatures

,country,lowest_temp,highest_temp,lowest_temp_fahrenheit,highest_temp_fahrenheit
76,Panam√°,2.0,40.0,35.60,104.00
0,√Åfrica do Sul,-20.1,50.0,-4.18,122.00
26,Coreia do Sul,-32.8,40.0,-27.04,104.00
22,Myanmar,-6.0,47.2,21.20,116.96
12,Hong Kong,-6.0,37.9,21.20,100.22
67,Su√≠√ßa,-41.8,41.5,-43.24,106.70
10,Camboja,10.0,42.6,50.00,108.68
18,Quirguist√£o,-53.6,44.0,-64.48,111.20
4,Essuat√≠ni,-6.7,47.7,19.94,117.86
68,Ucr√¢nia,-41.9,42.0,-43.42,107.60

### 1.2. Altura m√©dia por pa√≠s

Tendo como dados de entrada a [altura m√©dia por pa√≠s](https://pt.wikipedia.org/wiki/Estatura) crie um dicion√°rio com 10 pa√≠ses, com chave como nome do pa√≠s e valor como altura m√©dia, imprima em cada linha de um notebook o peso ideal:

$$
\text{Peso Ideal} = 72 \cdot \text{Altura} - 58
$$

por pa√≠s, utilizando um dicion√°rio e o operador de formata√ß√£o [`f''`](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals)

### 1.3. Convers√£o de valor de bolsa de estudos

Fa√ßa a convers√£o do valor de bolsas de p√≥s-gradua√ß√£o de [tr√™s pa√≠ses](https://exame.abril.com.br/carreira/confira-63-bolsas-para-estudar-em-paises-como-canada-eua-e-alemanha/) para Reais, imprimindo o sal√°rio de uma jornada de 40h semanais:
* Por hora trabalhada;
* Por m√™s;
* Por ano.

## 2. Estruturas de Decis√£o

### 2.1. Est√° frio?

Escreva c√≥digo em uma c√©lula, para, dado o elemento de uma lista de temperaturas acima, imprimir "`est√° frio`" se a temperatura for menor que um valor de uma vari√°vel `t` definida por voc√™ ou "`est√° calor`" caso contr√°rio.

### 2.2. Combust√≠veis

Um posto est√° vendendo combust√≠veis com a seguinte tabela de descontos:

|  Volume  |         √Ålcool         |        Gasolina        |
|---------:|:----------------------:|:-----------------------|
|$\lt{20l}$|desconto de $3%$ por $l$|desconto de $4%$ por $l$|
|$\ge{20l}$|desconto de $5%$ por $l$|desconto de $6%$ por $l$|

Escreva um c√≥digo que leia o n√∫mero de litros vendidos, o tipo de combust√≠vel (codificado da seguinte forma: A-√°lcool, G-gasolina), calcule e imprima o valor a ser pago pelo cliente sabendo-se que o pre√ßo do litro da gasolina √© 2,50 reais, e o pre√ßo do litro do √°lcool √© de 1,90 reais.

### 2.3. Frutaria

Uma fruteira est√° vendendo frutas com a seguinte tabela de pre√ßos:

|Fruta|$\lt{5}\text{Kg}$|$\ge{5}\text{Kg}$|
|-:|:-:|:-|
|Morango|2,50 reais por kilo|2,20 reais por kilo|
|Ma√ß√£|1,80 reais por kilo|1,50 reais por kilo|

Se o cliente comprar mais de 8 Kg em frutas ou o valor total da compra ultrapassar R$ 25,00, receber√° ainda um desconto de 10% sobre este total. Escreva c√≥digo para ler a quantidade (em Kg) de morangos e a quantidade (em Kg) de ma√ßas adquiridas e escreva o valor a ser pago pelo cliente.

## 3. Estruturas de Repeti√ß√£o

### 3.1. Tabuada

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer n√∫mero inteiro entre 1 a 10. Dada uma vari√°vel k em uma c√©lula calcular a tabuada para o n√∫mero. A sa√≠da deve ser conforme o exemplo abaixo:

```text
Tabuado de 5:
5 X 1 = 5
5 X 2 = 10
...
5 X 10 = 50
```

### 3.2. Repeti√ß√£o com temperaturas

Utilize uma estrutura de repeti√ß√£o para imprimir todos os elementos das listas de temperatura e altura criadas acima.

### 3.3. Repetindo e formatando

Acesse chaves e valores do dicion√°rio criado acima, e imprima cada item utilizando o operador de formata√ß√£o.

## 4. Fun√ß√µes

### 4.1. Invertendo

Fa√ßa uma fun√ß√£o que retorne o reverso de um n√∫mero inteiro informado.
> Por exemplo: `127 -> 721`

### 4.2. Convertendo uma temperatura

Fa√ßa uma fun√ß√£o para converter, que dado um valor num√©rico de temperatura e um valor de caractere para a escala (Celsius ou Farenheit) converta o n√∫mero para a escala desejada e retorna o valor.

### 4.3. 24 para 12 horas com AM/PM

Fa√ßa uma programa que converta da nota√ß√£o de 24 horas para a nota√ß√£o de 12 horas. Por exemplo, o programa deve converter 14:25 em 2:25 P.M. A entrada √© dada em dois inteiros.

## 5. NumPy

### 5.1. Primeira matriz NumPy

Escreva c√≥digo para criar uma matriz 4 x 10, com n√∫meros simulados de uma distribui√ß√£o normal com m√©dia 10 e vari√¢ncia 5, e substitua todos os elementos da primeira coluna maiores que 12 por 0.

### 5.2. Alturas, Pesos e Matrizes

Crie uma matriz 3x3 com 3 alturas de 3 pa√≠ses e calcule o peso ideal (f√≥rmula acima) para multiplicar e somar aos elementos da matriz.

### 5.3. NumPy the Hardway: No broadcasting üí™

Fa√ßa uma fun√ß√£o que recebe dois par√¢metros, uma matriz numpy e uma constante, e utiliza estruturas de repeti√ß√£o para multiplicar cada elemento da matriz e retorna a matriz multiplicada.

## 6. Pandas

> Para os exerc√≠cios, utilize [este conjunto de dados](https://drive.google.com/open?id=1u1SEDTja9QC7MAj_VlQcxNtAhQfs-5YR)

### 6.1. Explorando o [DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

Fa√ßa uma fun√ß√£o, que dado um dataframe com os dados acima. imprime a m√©dia e o desvio padr√£o das vari√°veis 'season' e 'holiday'.

### 6.2. Novas colunas, novos dados

Crie uma nova coluna no `dataframe`, com o nome `'month'` com o m√™s correspondente de cada linha da coluna `'datetime'` e escreva uma fun√ß√£o que dado um `dataframe`, e um valor num√©rico entre 1 e 12, retorna um sub-`dataframe` para o m√™s requerido.

### 6.3. _Histogramando_ um pouco

Fa√ßa um histograma da vari√°vel `'temp'` e um boxplot √∫nico com a vari√°vel `'temp'` em cada `'month'` (no eixo x).

## 7. Regress√£o

> **Incluir o conjunto de dados na entrega do notebook.**
>
> **Os conjuntos de dados devem ser diferentes entre os alunos**

**Dataset escolhido:** [Apartment for Rent Classified](https://archive.ics.uci.edu/dataset/555/apartment+for+rent+classified)

Em uma c√©lula do mesmo notebook crie um texto com markdown, incluindo formata√ß√£o com t√≠tulos, **negrito**, _it√°lico_ e inclus√£o de figuras para explicar:

* Explique simplificadamente o que √© o modelo de regress√£o e quando estes modelos podem ser utilizados;

* Apresente um pequeno exemplo num√©rico utilizando o que foi aprendido no curso, utilizando um conjunto de dados que n√£o foi visto no curso (pode ser de qualquer lugar na internet) e imprimindo os seguintes resultados:
  * [R2](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)
  * [Coeficientes da regress√£o](https://www.geeksforgeeks.org/regression-coefficients/)

* E fazendo um gr√°fico com a vari√°vel resposta (eixo `y`) uma das vari√°veis preditoras (eixo `x`) e a reta da regress√£o;

## 8. Classifica√ß√£o

> **Incluir o conjunto de dados na entrega do notebook.**
>
> **Os conjuntos de dados devem ser diferentes entre os alunos**

**Dataset escolhido**: [Heart Failure Clinical Records](https://archive.ics.uci.edu/dataset/519/heart+failure+clinical+records)

Em uma c√©lula do mesmo notebook crie um texto com markdown, incluindo formata√ß√£o com t√≠tulos, **negrito**, _it√°lico_ e inclus√£o de figuras para explicar:

* Explique simplificadamente o que √© o modelo de classifica√ß√£o e quando estes modelos podem ser utilizados;

* Apresente um pequeno exemplo num√©rico utilizando o que foi aprendido no curso, utilizando um conjunto de dados que n√£o foi visto no curso (pode ser de qualquer lugar na internet) e imprimindo, utilizando [valida√ß√£o cruzada](https://scikit-learn.org/stable/modules/cross_validation.html), os seguintes resultados:
  * [Acur√°cia](https://scikit-learn.org/stable/modules/model_evaluation.html#accuracy-score)
  * [Matriz de confus√£o](https://scikit-learn.org/stable/modules/model_evaluation.html#confusion-matrix)

## 9. Agrupamento

> **Incluir o conjunto de dados na entrega do notebook.**
>
> **Os conjuntos de dados devem ser diferentes entre os alunos**

**Dataset escolhido:** [Turkish Music Emotion](https://archive.ics.uci.edu/dataset/862/turkish+music+emotion)

Em uma c√©lula do mesmo notebook crie um texto com markdown, incluindo formata√ß√£o com t√≠tulos, **negrito**, _it√°lico_ e inclus√£o de figuras para explicar:

* Explique simplificadamente o que √© o modelo de [An√°lise de Componentes Principais (_PCA_)](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html#pca) e quando estes modelos podem ser utilizados;

* Apresente um pequeno exemplo num√©rico utilizando o que foi aprendido no curso, utilizando um conjunto de dados que n√£o foi visto no curso (pode ser de qualquer lugar na internet) e imprimindo, os seguintes resultados:
  * Vari√¢ncia explicada por cada componente

* Fa√ßa um gr√°fico com os _scores_ do _PCA_ colorindo pelos grupos do seu conjunto de dados.

## 10. Refer√™ncias

* [Python Brasil - Lista de Exerc√≠cios](https://wiki.python.org.br/ListaDeExercicios)
* [numpy](https://numpy.org/doc/stable/reference/index.html)
* [matplotlib](https://matplotlib.org/stable/api/index)
* [seaborn](https://seaborn.pydata.org/api.html)
* [pandas](https://pandas.pydata.org/docs/reference/index.html#api)
* [scikit-learn](https://scikit-learn.org/stable/api/index.html)
* Datasets:
  * Regress√£o:
    * Apartment for Rent Classified. (2019). UCI Machine Learning Repository. https://doi.org/10.24432/C5X623.
  * Classifica√ß√£o:
    * Heart Failure Clinical Records. (2020). UCI Machine Learning Repository. https://doi.org/10.24432/C5Z89R.
  * Agrupamento:
    * Er,Mehmet Bilal. (2023). Turkish Music Emotion. UCI Machine Learning Repository. https://doi.org/10.24432/C5JG93.